<%= render "shared/content_title", title: "Search results for '#{@search}'" %>

<% if @posts.empty? %>
  <div class="alert alert-info"%>
    <strong>No posts found</strong> with the keyword(s) '<%= @search %>'.
  </div>
<% else %>
  <%= render @posts %>
<% end %>